In [8]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [4]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [6]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [10]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [12]:
df

             A         B
G1 1 -0.036380 -0.438622
   2 -1.670158  0.741968
   3 -0.250411 -0.288807
G2 1  0.460492  2.411037
   2 -0.876115 -0.051205
   3  0.460766 -0.830920

In [16]:
df.loc['G1']

          A         B
1 -0.036380 -0.438622
2 -1.670158  0.741968
3 -0.250411 -0.288807

In [18]:
df.loc['G1'].loc[1]

A   -0.036380
B   -0.438622
Name: 1, dtype: float64

In [22]:
df.index.names = ['Groups','Num']

In [24]:
df

                   A         B
Groups Num
G1     1   -0.036380 -0.438622
       2   -1.670158  0.741968
       3   -0.250411 -0.288807
G2     1    0.460492  2.411037
       2   -0.876115 -0.051205
       3    0.460766 -0.830920

In [28]:
df.loc['G2'].loc[2]['B']

-0.05120527739729414

In [31]:
# Function cross section xs
df.xs(1,level='Num')

               A         B
Groups
G1     -0.036380 -0.438622
G2      0.460492  2.411037