In [2]:
#! conda install sqlalchemy
#! conda install lxml
#! conda install html5lib
#! conda install BeautifulSoup4

In [10]:
import pandas as pd

In [16]:
# Usar pdw para saber la ubicacion del notebook actual

In [15]:
pwd

'C:\\Users\\crq96\\OneDrive\\Documents\\Programming\\Learning\\data_science_knowledge\\pandas'

In [ ]:
# CSV and Excel files

In [22]:
pd.read_csv('example.csv')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [24]:
df = pd.read_csv('example.csv')

In [26]:
df.to_csv('my_output',index=False)

In [28]:
pd.read_csv('my_output')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [33]:
pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1',index_col = 0)

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [35]:
df.to_excel('Excel_Sample2.xlsx',sheet_name='NewSheet')

In [36]:
# Html files

In [41]:
data = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')
data

In [40]:
#Working with sql

In [43]:
from sqlalchemy import create_engine

In [45]:
engine = create_engine('sqlite:///:memory:')

In [49]:
df.to_sql('my_table_two',engine)

In [51]:
sqldf = pd.read_sql('my_table_two',con=engine)

In [52]:
sqldf

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15